{{#if success_msg}}
<div style="background-color: aqua; padding: 3px;">{{success_msg}}</div>
{{/if}}
{{#if error_msg}}
<div style="background-color: hotpink; padding: 3px;">{{error_msg}}</div>
{{/if}}