<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>餐廳清單</title>
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">餐廳清單</a>
      
      {{#if logined}}
      <form action="/logout" method="POST" class="d-flex flex-row align-items-center">
        <div class="me-5">
          <label style="color:aliceblue;">{{user_email}}</label>
        </div>
        <button type="submit" class="btn btn-info">Logout</button>
      </form>
      {{/if}}
    </div>
  </nav>
  {{{ body }}}
  
  <!-- axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>

  <!-- bootstrap -->
  <script src="/js/bootstrap.js"></script>
</body>
</html>